:root {
	--black: #000;
	--white: #fff;
	--black-main: #3b3b3b;
	--black-dark: #222222;
	--black-light: #636363;
	--status-bar: #181616;
	--red-main: #c30101;
	--red-dark: #940000;

	/* Tex color */
	/* Label Color */
	/* Border Color */
	/* Contrast (dark and light) */
	/* Buttons Colors */
	/* Button Text */
	/* Button Shadows */

	--ol: 1px solid white;
}

* {
	padding: 0;
	margin: 0;
}

ul,
li,
a {
	list-style: none;
	text-decoration: none;
}

html,
body {
	display: flex;
	padding: 8px;
	align-items: center;
	height: 100%;
	justify-content: center;
}

body {
	width: 100%;
	max-width: 1400px;
	justify-self: center;
	flex-direction: column;
	background-color: var(--black-dark);
	box-shadow: 1px 1px 5px var(--black-light);
	position: relative;
}

.container {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	box-sizing: content-box;
	justify-content: center;
	align-items: center;
}

.toggle-buttons,
.complete-buttons,
.delete-buttons {
	width: 80px;
	height: 30px;
	border-radius: 8px;
	background-color: var(--black);
	font-size: 0.6rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 5px;
	color: var(--red-dark);
	font-weight: 800;
	box-shadow: 2px 1px 5px 1px var(--red-dark);
	cursor: pointer;
}

.toggle-buttons:hover {
	transform: scale(1.1);
}

.create-form-container {
	position: absolute;
	width: 100%;
	height: 100%;
	outline: 1px solid red;
	background-color: var(--black);
	opacity: 0.2;
	z-index: 2;
	display: none;
}

.event-form {
	width: 320px;
	height: 500px;
	border: 5px groove var(--black-dark);
	position: absolute;
	z-index: 3;
	background-color: var(--black);
	flex-direction: column;
	justify-content: flex-start;
	row-gap: 50px;
	padding: 10px;
	box-shadow: 2px 2px 15px 2px var(--red-dark);
	opacity: 1;
}

.event-form h2 {
	color: var(--black);
	width: 100%;
	text-align: center;
	margin-top: 10px;
	font-size: 2rem;
	text-shadow: 2px 1px 2px var(--white);
}

.event-form select {
	color: var(--red-dark);
}
.event-form select,
.event-form input,
.event-form textarea {
	width: 280px;
	height: 30px;
	border: 2px groove var(--white);
	background: var(--black);
	color: var(--white);
	border-radius: 8px;
	padding: 5px;
}

.event-form textarea {
	resize: none;
}

.event-form select option,
.event-form input::placeholder,
.event-form textarea::placeholder {
	color: var(--white);
	font-size: 1rem;
	text-shadow: 1px 1px 1px var(--black);
}

.event-form-button-container {
	width: 100%;
	height: 80px;
	justify-content: space-around;
}

.event-form-button-container button {
	width: 100px;
	height: 35px;
	font-size: 1rem;
	color: var(--white);
	box-shadow: 2px 1px 5px 1px var(--black);
}

/* Classes to apply to the js created container */
.event-box {
	width: 250px;
	height: 280px;
	border: 3px solid var(--black);
	box-shadow: 1px 1px 10px 1px var(--red-main);
	background: var(--black);
	flex-direction: column;
	padding: 10px;
	border-radius: 8px;
	justify-content: space-around;
}

.event-title-container {
	width: 100%;
	height: 35px;
	color: var(--red-main);
	font-size: 1.2rem;
	text-shadow: 1px 1px 1px var(--black-dark);
	border: 2px ridge var(--black);
	border-radius: 5px;
	box-shadow: 1px 3px 8px 1px var(--red-dark);
	margin-bottom: 5px;
	text-align: center;
}

.event-description-container {
	width: 100%;
	height: 130px;
	overflow: hidden;
	border: 2px ridge var(--black-light);
	border-radius: 5px;
	box-shadow: 1px 3px 8px 1px var(--red-dark);
	text-shadow: 1px 1px 1px var(--black-dark);
	font-size: 1rem;
	text-align: justify;
	word-wrap: pretty;
	color: var(--red-dark);
	padding: 2px;
}

.event-button-container {
	width: 100%;
	height: 50px;
	justify-content: space-around;
	border: 2px ridge var(--black-light);
	border-radius: 5px;
	box-shadow: 1px 3px 8px 1px var(--red-dark);
	display: flex;
	place-content: center;
	place-items: center;
	justify-content: space-around;
}

.time-stamp-container {
	width: 100%;
	height: 20px;
	margin-top: 5px;
	color: var(--red-main);
	font-size: 0.8rem;
}
