.header-container {
	width: 100%;
	height: 80px;
	border: 2px outset var(--red-dark);
	font-family: 'Stereotones', sans-serif;
	justify-content: space-between;
	padding: 0 10px;
}

.logo-container,
.main-toggle-container {
	height: 100%;
	width: 400px;
}

.logo-container {
	color: var(--black);
	font-size: 2rem;
	letter-spacing: 3px;
	text-shadow: 1px 1px 3px var(--red-dark);
}

.main-toggle-container {
	justify-content: space-around;
}

.main-body-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.side-menu-container {
	width: 35px;
	height: 100%;
	box-shadow: 1px 1px 5px var(--red-dark);
	position: absolute;
	background-color: var(--black);
	left: 0;
	flex-direction: column;
	overflow: hidden;
	text-align: left;
	transition: width ease 0.5s;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.side-menu-container.active {
	width: 140px;
	height: 100%;
	box-shadow: 1px 1px 5px var(--red-dark);
	position: absolute;
	background-color: var(--black);
	left: 0;
	flex-direction: column;
	overflow: hidden;
	text-align: left;
	transition: width ease 0.5s;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.side-menu-spans {
	height: 1.5rem;
	width: 95%;
	color: var(--red-dark);
	align-items: center;
	font-size: 1.2rem;
	justify-content: flex-start;
	column-gap: 10px;
	padding-left: 10px;
	text-wrap: nowrap;
}

.fa-solid,
.fa-regular {
	color: var(--red-dark);
	font-size: 1.5rem;
	width: fit-content;
	flex-wrap: nowrap;
}

.main-display-container {
	width: 100%;
	outline: 1px solid red;
	height: 100%;
	flex-wrap: wrap;
	position: relative;
}

.main-display-container .fa-plus {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: var(--red-dark);
	font-size: 2rem;
	width: 50px;
	height: 50px;
	background: var(--black);
	padding: 5px;
	border-radius: 50%;
	z-index: 5;
	border: 1px solid var(--red-dark);
	box-shadow: 2px 2px 5px var(--black);
	cursor: pointer;
}

.flex-active {
	display: flex;
}
.flex-inactive {
	display: none;
}
